@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* font-family: 'Audiowide', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

/* font-family: 'Baumans', cursive; */

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    overflow-x: hidden;
}

body {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar {
    display: flex;
    list-style: none;
    height: 60px;
    padding: 10px;
    background-color: rgb(1, 1, 10);
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
}

#navbar ul {
    display: flex;
}

.item {
    margin: 16px 10px;
    padding: 21px;
}

.item a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Baumans', cursive;
}

.item a:hover {
    background-color: white;
    color: black;
    font-size: 22px;
    padding: 7px;
    border-radius: 8px;
}

.logo img {
    border: 1px solid white;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 3px 6px;
    border-radius: 100%;
}

.logo {
    margin: 10px 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo p {
    margin-left: 5px;
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
}

.three-lines {
    filter: invert(1);
    font-size: 50px;
    padding: 0px 10px;
    height: 60px;
    margin: 0px 20px;
    border-radius: 10px;
    cursor: pointer;
}


/* SIDE NAVBAR */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    justify-content: space-between;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 80px;
}


/* FOOTER */

#footer {
    height: 270px;
    background-color: rgb(2, 2, 2);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-1 {
    width: 67%;
    font-size: 30px;
    margin: 10px;
    font-family: 'Audiowide', cursive;
    text-align: center;
    border-bottom: 1px solid white;
    overflow-y: hidden;
}

.footer-2 {
    display: flex;
    justify-content: space-around;
}

.footer-2 div {
    margin: 10px 40px;
    overflow-y: hidden;
}

.footer-2 li,
.footer-2 a {
    text-decoration: none;
    list-style: none;
    padding: 2px;
    color: rgb(82, 82, 82);
}

a:hover {
    color: rgb(223, 220, 220);
    font-size: 17px;
}

.footer-2 h1 {
    font-size: 19px;
    font-weight: 100;
    font-family: 'Audiowide', cursive;
}

.footer-3 {
    /* overflow-x: hidden; */
    width: 100%;
    border-top: 1px solid white;
    margin: 5px;
    padding: 7px;
    color: rgb(82, 82, 82);
    text-align: center;
}

.footer-3 span:hover {
    color: rgb(202, 202, 202);
}