* {
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
}
.border{
    border-bottom: 1px solid grey;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
}
.content {
    position: relative;
    height: 80vh;
    width: 80%;
    border-radius: 15px;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-start; */
}

.content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url('../img/first-container-home.jpg');
    background-position:top;
    background-repeat: no-repeat;
    opacity: 0.2;
    background-size: cover;
    border-radius: 15px;
    z-index: -1;
}
.content h1{
    font-size: 40px;
    text-align: center;
}
.content form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 80%;
}
.content input{
    border: 2px solid orange;
    width: 30vw;
    height: 5vh;
    border-radius: 15px;
    text-align: center;
}
#form-description{
    border-radius: 15px;
    padding: 10px;
    width: 28vw;
    text-align: center;
    border: 2px solid orange;
}
#form-btn{
    background-color: orange;
    width: 15vw;
}