extends template.pug

block scripts
block style 
  style
    include ../static/css/index.css
    include ../static/css/media.css
block content
  p#key.hide #{key} 
  p#pagename.hide #{page} 
  section#recents-anime
    h1#popular-heading Search Results
    h1#error.hide No result found
    div#recents-anime-container
      template.recents-anime-template
        div.recents-anime-cards
          a.recents-anime-link(href="#")
            img.recents-anime-img
          p.recents-anime-title
  section#pages 
    a.first-page(href="/search") First page
    div.pages-div
      a.pages-a 
      a.pages-a 
      a.pages-a 
      a.pages-a  
      a.pages-a   
    a.last-page(href="/search/") Last page 
  script(src='../static/js/search.js' type='module')   