html
  head
    meta(name="robots" content="NOINDEX,NOFOLLOW")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
    //- Check its version from https://cdnjs.com/libraries/font-awesome
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/csfont-awesome.min.css")
    title DekiAnime
    block scripts
    block style 
    style
      include ../static/css/nav-footer.css
      include ../static/css/media.css
    //-   include ../static/css/nav-footer-media.css
  body
    nav#navbar
      div.logo
        a(href="/")
          img(src="../static/img/logo.png")
      ul
        li.item
          a(href="/") Home
        li.item
          a(href="/Popular-Anime") Popular Anime
        li.item
          a(href="/bookmark") Bookmark
        li.item
          a(href="/movies") Movies
        li.Search.item 
          input#Search-Input(type="text", name="",placeholder="Search Animes")
          a#Search-link(href="#") 
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
              path(d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z")
      div.logo.three-lines(onclick="openNav()") &equiv;
    div#mySidenav.sidenav
      ul 
        li 
          a(href="javascript:void(0)" class="closebtn" onclick="closeNav()") &times;  
        li 
          a(href="/") Home  
        li 
          a(href="/Popular-Anime") Popular Anime 
        li 
          a(href="/bookmark") Bookmark
        li 
          a(href="/movies") Movies
        li.Search 
          input#Search-Side(type="text", name="",placeholder="Search Animes")
          a#Search-Side-link(href="#") 
            svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512")
              path(d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z")
        li 
          form(action="/logout?_method=delete" method="POST") 
              button(type="submit") Log Out  
        
    block content
    script(src='../static/js/navbar.js') 
    div#footer
      div.footer-1
        span
          | DekiAnime
      div.footer-2
        div
          h1
            | Important links
          ul
            li
              a(href='/bookmark') Bookmarks
            li
              a(href='/Popular-Anime') popular anime
            li
              a(href='/movies') Movies
        div
          h1
            | Contact Us
          ul
            li
              a(href='#')
                | Email : owner@mrvegit.live
            li
              a(href='https://discord.gg/wGJbxuvTw5')
                | Join us at discord
      div.footer-3
        a(href="http://mrvegit.live") 
          | Designed by Mr-Vegit
