@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Orbitron:wght@600&display=swap');

/* Defaults */

body {
    background-color: rgb(0, 0, 19);
}

* {
    margin: 0px;
    padding: 0px;
}


/* Navigation designs */

#navbar ul {
    display: flex;
    list-style: none;
    height: 65px;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: black;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
}

#navbar ul li {
    /* For all the li tags */
    margin: 10px 15px;
    padding: 10px;
    /* for .brand */
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand img,
.brand span {
    font-weight: 900;
    width: 45px;
    margin: 4px;
}


/*Section */

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Chivo Mono', monospace;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('./bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom {
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 15px;
}

.icons i {
    cursor: pointer;
}

.SongInfo {
    position: absolute;
    font-family: 'Chivo Mono', monospace;
    font-size: 23px;
    left: 10vw;
}

.gif {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.SongItemContainer {
    margin-top: 50px;
}

.SongItem {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgb(53, 53, 53);
    margin: 12px 0;
    border-radius: 8px;
}

.SongItem img {
    width: 50px;
    /* margin: 0 20px; */
}

.TimeStamp {
    margin: 0 23px;
    cursor: pointer;
}