html
  head
    meta(name="robots" content="INDEX,FOLLOW")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    link(rel="icon" href="../static/img/logo.jpg" type="image/x-icon")
    meta(name="description" content = "Welcome to Dekianime, your ultimate destination for all things anime! Immerse yourself in a world filled with captivating stories, stunning visuals, and unforgettable characters. Dekianime is a premier streaming platform dedicated to bringing you a vast collection of anime series and movies, all at your fingertips.At Dekianime, we believe in celebrating the vibrant and diverse world of anime. Our carefully curated library showcases a wide range of genres, from action-packed shounen adventures to heartwarming slice-of-life tales and everything in between. Whether you're a seasoned otaku or just dipping your toes into the anime universe, Dekianime has something to offer for every taste and preference." )
    meta(name="keywords" content="dekiAnime , dekianime.site, watch dekianime, Anime streaming, Watch anime online, Anime series, Anime movies, Japanese animation, Otaku culture, Anime catalog, HD streaming, Latest anime releases, Classic anime, Shounen anime, Slice-of-life anime, Fantasy anime, Action anime, Romance anime, Comedy anime, Anime community")
    //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
    //- Check its version from https://cdnjs.com/libraries/font-awesome
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/csfont-awesome.min.css")
    title DekiAnime
    block scripts
    block style 
    style
      include ../static/css/nav-footer.css
      include ../static/css/media.css
    //-   include ../static/css/nav-footer-media.css
  body
    p#user.hide #{user} 
    nav#navbar
      div.logo
        a(href="/")
          img(src="../static/img/logo.jpg")
          p DekiAnime
      ul
        li.item
          a(href="/") Home
        li.item
          a(href="/Popular-Anime") Popular Anime
        li.item
          a(href="/bookmark") Bookmark
        li.item
          a(href="/movies") Movies
        li.Search.item 
          input#Search-Input(type="search", name="",placeholder="Search Animes")
      div.logo.three-lines(onclick="openNav()") &equiv;
    div#mySidenav.sidenav
      ul 
        li 
          a(href="javascript:void(0)" class="closebtn" onclick="closeNav()") &times;  
        li 
          a(href="/") Home  
        li 
          a(href="/Popular-Anime") Popular Anime 
        li 
          a(href="/bookmark") Bookmark
        li 
          a(href="/movies") Movies
        li.Search 
          input#Search-Side(type="search", name="",placeholder="Search Animes")
        li 
          form(action="/logout?_method=delete" method="POST") 
              button#Login_Logout_Btn(type="submit") Log Out  
        
    block content
    script(src='../static/js/navbar.js') 
    div#footer
      div.footer-1
        span
          | DekiAnime
      div.footer-2
        div.footer-2-links
          h1
            | Important links
          ul
            li
              a(href='/bookmark') Bookmarks
            li
              a(href='/Popular-Anime') popular anime
            li
              a(href='/movies') Movies
        div
          h1
            | Contact Us
          ul
            li
              a(href='#')
                | Email : owner@mrvegit.live
            li
              a(href='https://discord.gg/wGJbxuvTw5')
                | Join us at discord
      div.footer-3
        a(href="http://mrvegit.live") 
          | Designed by Mr-Vegit
