@media screen and (max-width: 500px) {

    /* templates */
    .item {
        display: none;
    }

    #navbar .search {
        display: none;
    }
    .logo a img {
        height: 6vh;
    }
    .search input {
        background-color: #111;
        border-bottom: 1px solid white;
        font-size: 2.5vh;
        /* padding: 1vh; */
        width: 43vw;
    }
    #footer {
        margin-top: 10vh;
        height: 32vh;
    }
    .footer-2 {
        align-items: center;
    }
    .footer-2-links{
        display: none;
    }
    .footer-2 h1 {
        font-size: 3vh;
        text-align: center;
    }
    .footer-3 {
        font-size: 2vh;
        width: 90%;
    }

    /* recents / popular */
    #watch-history-controls button {
        margin: 0vh 1vw;
    }

    #watch-history-controls {
        width: 95vw;
    }

    #watch-history-controls h1 {
        font-size: 3vh;
    }

    #watch-history-controls svg {
        height: 3vh;
    }

    .watch-history-img {
        height: 30vw;
        width: 23vw;
    }

    #watch-history {
        margin: 0 auto;
        width: 90vw;
    }

    .watch-history-delete {
        right: 4vw;
    }

    .watch-history-delete svg,
    .bookmark-delete svg {
        width: 5vw;
    }

    .bookmark-delete {
        right: 4vw;
    }

    #recent-head {
        display: flex;
        width: 100%;
        margin: 3vh 0vh;
        align-items: center;
        justify-content: space-between;
    }

    #recent-head>a {
        margin-left: 10px;
        font-size: 3vh;
    }

    .typesubordub a {
        padding: 1vh 2.5vw;
        font-size: 1.1vh;
        margin: 0px 1vh;
        border-radius: 1vh;
    }

    .recents-anime-cards {
        height: 30vh;
        width: 41vw;
    }

    .recents-anime-title,
    .recents-anime-episode,
    .watch-history-title,
    .watch-history-episode,
    .recommendation-cards-txt,
    .Episode-cards-txt {
        color: white;
        font-size: 1.3vh;
        text-align: center;
    }

    .recent-sub-or-dub {
        border-radius: 1vh;
    }

    #pages a {
        padding: 1vh 3vw;
        margin: 1vh 2vw;
        font-size: 1.3vh;
    }

    #popular-heading {
        margin: 3vh 0vw;
    }

    #Search-Catagories {
        width: 85vw;
    }

    .Type-Catagories a ,.Query-Search input{
        font-size: 2vh;
    }
    #one_option_needed>.Type-Catagories {
        padding: 1vh 3vw;
        margin: 1vh 1vw;
    }

    #one_option_needed {
        justify-content: flex-start;
    }

    #Genres-Options p {
        font-size: 1.5vh;
        padding: 1vh 2vw;
    }

    /* Video player */
    .artplayer-app {
        height: 29vh;
        width: 90vw;
        margin: 5vh auto;
        position: relative;
        z-index: 1;
    }

    .prev-next {
        width: 95vw;
    }

    .prev-next-btn {
        background-color: rgb(63, 9, 113);
        text-decoration: none;
        color: white;
        padding: 2vh 4vw;
        font-size: 2vh;
        border-radius: 0.5vh;
    }


    /* Anime Details */
    #AnimeDetails-container {
        width: 100vw;
        margin: 0vh;
    }

    #AnimeDetails-container>.anime-title-div p {
        display: block;
        color: white;
        text-align: center;
        font-size: 4vh;
        margin: 2vh 0;
    }

    .animeListed {
        display: none;
    }

    #controls {
        display: none;
    }

    .anime-details>.anime-title-div p {
        color: white;
        font-size: 4vh;
        text-align: center;
        width: 100vw;
    }

    .anime-details {
        width: 90vw;
    }

    .anime-img-Also-details {
        align-items: center;
        flex-direction: column;
    }

    .anime-img-Also-details img {
        height: 30vh;
        width: 50vw;
        text-align: center;
    }

    .anime-genre-container {
        display: flex;
        width: 90vw;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #anime-img-Also>div>p {
        color: rgb(108 108 108);
    }

    #anime-description {
        margin: 2vh 5px;
        font-size: 1.8vh;
    }

    .genre-btn {
        margin: 0.5vh 1vw;
    }

    #anime-img-Also {
        width: 100%;
    }

    #recomendations {
        width: 100vw;
    }

    .recommendation-cards {
        height: 26vh;
    }

    .recommendation-img {
        height: 15vh;
    }

    #Episodes {
        width: 100vw;
    }

    #Episode-Container {
        width: 100vw;
    }

    .Episode-cards {
        margin: 1vh;
    }

    .Episode-cards-txt {
        width: 16vh;
        padding: 1vh;
    }

    #Episode-Container img {
        height: 10vh;
    }

    #recomendations-btn {
        width: 100vw;
        justify-content: center;
        margin: 3vh 0;
    }

    #Episode-Container {
        justify-content: space-around;
    }

    /* Login and register */
    #my_Form input {
        width: 75%;
        padding: 15px;
        margin: 10px;
        font-size: 2vh;
        text-align: center;
    }

    #my_Form input::placeholder {
        font-size: 3vh;
    }

}