@media only screen and (max-width:420px) {
    .navbar li a {
        font-size: 25px;
    }
    .notreq {
        display: none;
    }
    #home>p:first-child {
        font-size: 40px;
        margin: 0px;
    }
    #con_1_para {
        font-size: 20px;
    }
    #recentul li img {
        margin: 2px;
    }
}