* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0px;
}


/* navigation */

.navbar {
    display: flex;
    background-color: rgb(9, 9, 110);
    justify-content: center;
    /* border-bottom-left-radius: 10px; */
    /* border-bottom-right-radius: 10px; */
    height: 70px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin-left: 15px;
    margin-right: 15px;
    padding: 7px;
    align-self: center;
}

#logo {
    position: absolute;
    margin-left: 40px;
    padding: 2px;
    left: 0px;
}

#index {
    margin-left: 0px;
}

.navbar li img {
    border-radius: 100%;
    width: 55px;
}

.navbar li a {
    color: white;
    font-size: 25px;
}

.navbar li:hover {
    background-color: rgb(83, 120, 243);
    border-radius: 10px;
}


/* for phones */

#three-lines {
    position: absolute;
    right: 0px;
    margin-right: 40px;
    filter: opacity(0.4) drop-shadow(0 0 0 blue);
}


/* navigation complete */

.aboutme {
    display: block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: bolder;
}