html
  head
    meta(name="keywords" content="Hotel,falakata,Dooars,nature beauty,top hotels in falakata")
    meta(name="robots" content="INDEX,FOLLOW")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.0/css/all.min.css")
    //- Check its version from https://cdnjs.com/libraries/font-awesome
    title Hotel Panchadeep Bhawan 
    block scripts
    block style 
    style
      include ../static/nav-footer.css
  body
    nav#navbar
      div.logo
        img(src="../static/img/logo.jpg" alt="MyOnlineMeal.com")
        p Panchadeep Bhavan
      ul
        li.item
          a(href="#home") Home
        li.item
          a(href="#services-container") Services
        li.item
          a(href="#client-section") Clients
        li.item
          a(href="#contact") Contact Us
      div.logo.three-lines &equiv;
    block content
    footer#footer
      div.footer-1
        p Hotel PanchaDeep Bhavan 
        ul 
          li 
            i.fa-brands.fa-facebook-f
          li 
            i.fa-brands.fa-twitter
          li 
            i.fa-sharp.fa-solid.fa-envelope
          li
            i.fa-brands.fa-whatsapp
          li 
            i.fa-brands.fa-instagram
      div.footer-2
        div 
          h1 Facilities
          ul.footer-2-ul 
            li Ac Restaurent
            li Conference Hall 180 Capacity
            li Banquet Hall 500+ Capacity
            li Free Wifi
            li Geyser On Room
            li Elevator
            li Car Parking
        div
          h1 Services
          ul.footer-2-ul 
            li Doctor On Call
            li 24 Hrs Room Service
            li Pick Up And Drop
            li Vehicle For Local Sightseeing
            li 24 Hrs Power Back Up
        div 
          h1 Address
          ul.footer-2-ul 
            li Address : Deshbandhu Para, Opp. Fire Station Thana Road
            li PO+PS- Falakata-735211, West Bengal
            li Ph : 8250788335
            li Whatsapp : 838886489
            li Panchadeep.Bhawan@Gmail.Com
   
      div.footer-3 Copyright © 2022 panchadeepbhawan.com | All rights reserved | Designed by Mr-Vegit