/* Navigation designs */

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02030a;
    padding: 10px 14px;
    font-family: 'Yeon Sung', cursive;
}

#logo {
    margin: 0px 14px;
    margin-right: 40px;
}

#logo a {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}

#logo a img {
    height: 45px;
}

.three-lines {
    font-size: 50px;
    padding: 0px 10px;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0px 16px;
    cursor: pointer;
    color: white;
}

.three-lines:hover {
    color: rgb(0, 3, 175);
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    padding: 13px 20px;
    font-weight: 500;
    color: white;
}

#navbar li a:hover {
    color: rgb(0, 3, 175);
}


/* SIDE NAV BAR */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    height: 200px;
    text-align: center;
    justify-content: space-between;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 5px;
    left: 25px;
    font-size: 55px;
    margin-right: 15px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}