doctype html
html
  head
    title Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]

    section#introsection
        div  Welcome to Vegit's Dance Academy
        div.small Eat Dance Sleep Repeat
    section#missionsection
        h2 Our Mission
    section#sponsersection
        h2 Our Sponsers
    footer#footer
        | our footer here
    script
      include ../static/index.js